        <!--<div class="ui fixed inverted vertical footer segment">-->
        <!--    <div class="ui center aligned container">-->
        <!--        © Siddharth Vaknalli 2016. All Rights Reserved.-->
        <!--    </div>-->
        </div>
        
        <!--Dependent scripts-->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
        <script src="/scripts/app.js"></script>
    </body>
</html>