<!DOCTYPE html>
<html>
    <head>
        <title>Disrupter</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/semantic.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item">
                    <i class="idea icon"></i>
                    Disrupter
                </div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Blog</a>
                <div class="right menu">
                    <% if(!currentUser) { %>
                        <a href="/login" class="item">Login</a>
                        <a href="/register" class="item">Sign Up</a>
                    <% } else { %>
                        <a href="#" class="item">Signed In As <%= currentUser.username %></a>
                        <a href="/logout" class="item">Logout</a>
                    <% } %>
                </div>
            </div>
        </div>
        

        <div class="ui grid">
            <% if(error && error.length > 0) { %>
                <div id="message" class="ui container">
                    <div class="ui center aligned error message segment">
                        <%= error %>
                    </div>
                </div>
            <% } %>
            <% if(success && success.length > 0) { %>
                <div id="message" class="ui container">
                    <div class="ui center aligned success message segment">
                        <%= success %>
                    </div>
                </div>
            <% } %>