i.icon{
    font-size: 2em;
}

.container.main {
    margin-top: 7.0em;
}

#delete{
    display: inline;
}

#message {
    width: 400px !important;
    position: fixed;
    z-index: 999999;
    top: 80px;
    right: 0px;
}

#desc {
    text-align: center;   
}

.footer {
    margin-top: 100px;
}

.margined {
    margin-top: 10px;
    margin-bottom: 10px;
}

#blogsIndex {
    margin-top: 80px;
    margin-bottom: 2.0em;
}

#blog {
    margin-top: 50px;
    margin-bottom: 2.0em;
}